/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  margin: 0px auto;
  background-color: black;
}

/* Banner and Header */

#banner {
  background-color: black;
  padding-top: 70px;
}

#banner img {
  width: 100%;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.638);
  width: 100%;
  height: 70px;
  z-index: 10;
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
  position: relative;
  height: 155px;
}

.logo img {
  width: 150px;
}

.menu {
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .menu a { 
    font-size: 0.75rem;
    padding: 0.25rem;
  }
}

a,
h1,
h2 {
  font-family: 'Pacifico', cursive;
  color: rgb(191, 146, 33);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 0.5rem;
}

h2 {
  font-size: 2rem;
}

a:hover,
a:focus {
  color: white;
  transition: 0.5s;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 0.6rem;
}

/* Info Section */

.info-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10vh;
}

.intro {
  width: 100%;
  color: white;
}

.intro h1 {
  text-align: center;
  font-size: 3rem;
}

.intro p {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-container img {
  width: 80vh;
}

.img-container p, a {
  text-align: center;
  font-size: 2.5vh;
}

.inquiries {
  padding-right: 1rem;
}

.questions {
  font-size: 2rem;
}

